.navigation {
    width: 100%;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.login-signup {
    display: flex;
    align-items: center;
}

.login-logout {
    margin: 0 3%;
}
